framework: auto-detect
source https://www.nuget.org/api/v2

nuget FAKE
nuget ILRepack
nuget FSharp.Core     content:once
nuget FSharp.Data     content:once
nuget GtkSharp
nuget WebSocketSharp  content:once
nuget BouncyCastle
nuget Docopt.Net      content:none
